{% if form.non_field_errors %}<div class="submission-errors" role="alert">{{ form.non_field_errors }}</div>{% endif %}
<div class="form-bar-list">
  {% for field in form %}
    <div class="form-bar-row{% if field.errors %} form-bar-row-error{% endif %}">
      <div class="form-bar-label">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field.help_text %}<p>{{ field.help_text }}</p>{% endif %}
      </div>
      <div class="form-bar-control">
        {{ field }}
        {% if field.errors %}<div class="submission-errors" role="alert">{{ field.errors }}</div>{% endif %}
      </div>
    </div>
  {% endfor %}
</div>
